body {
    margin: 1px;
    font-family: Verdana, Arial, sans-serif;
}

.main {
    margin-left: 7%;
    margin-right: 7%;
    background-color: antiquewhite;
}

.top {
    display: flex;
    margin: 1em;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: aquamarine;
}

.navi {
    border-style: solid;
    border-color: #b9b9b9;
    border-width: 1px;
    border-radius: 5px;
    height: 3.5em;
    align-items: center;
    font-size: 14px;
    margin-left: 14px;
    background-color: #3b5998;
}

.content {
    display: flex;
    margin: 0 14px;
    min-height: 100vh;
    background-color: pink;
}

.left {
    width: 75%;
    background-color: aliceblue;
}

.right {
    width: 25%;
    background-color: greenyellow;
}

.right-box {
    font-family: Verdana, Arial, sans-serif;
    font-size: 15px;
    color: #3b5998;
    border: 1px solid #b9b9b9;
    margin-top: 10px;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    margin-bottom: 15px;
    background-color: rgb(252, 252, 120);
}

.right-box h4 {
    padding-left: 7.5px;
    margin-top: 5px;
    margin-bottom: 4px;
}

.divi {
    margin-top: 10px;
}
